<form #from="ngForm">
    <p-toolbar>
        <div class="p-toolbar-group-start">
            <label> Edit Category</label>
        </div>
        <div class="p-toolbar-group-end">
            <button pButton label="Cancel" icon="fa fa-times" (click)="onCancelClick()"
                class="mr-2 ui-btn-tertiary"></button>
            <button pButton label="Save" icon="fa fa-save" (click)="onCancelClick()"
                class="mr-2 ui-btn-primary"></button>
        </div>
    </p-toolbar>

    <div class="grid-nogutter p-5">
        <div class="col-12">
            <span class="p-float-label">
                <input pInputText name="code" id="code" [(ngModel)]="role.name" />
                <label>Name</label>
            </span>
        </div>
    </div>

    <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
    <p-progressSpinner *ngIf="showLoader" ></p-progressSpinner>
</form>