:root {
    --primary-theme-color: var(--green-600);
    --primary-color: var(--primary-theme-color) !important;
    --secondary-theme-color: #6c757d;
    --success-theme-color: #28a745;
    --danger-theme-color: #dc3545;
    --warning-theme-color: #ffc107;
    --info-theme-color: #17a2b8;
    --light-theme-color: #f8f9fa;
    --dark-theme-color: #343a40;
  }