<form>
    <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">Username*</label>
        <div class="col-sm-6">
            <input type="text" id="username" [(ngModel)]="user.username" required="required" name="username" class="form-control-plaintext"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-6">
            <input type="password" id="password" [(ngModel)]="user.password" name="password" class="form-control"/>
        </div>
    </div>
</form>