<div>
    <p-toolbar>
        <div class="p-toolbar-group-start">
            <label> Edit User</label>
        </div>
        <div class="p-toolbar-group-end">
            <button pButton label="Cancel" icon="fa fa-times" (click)="onCancelClick()"
                class="mr-2 ui-btn-tertiary"></button>
            <button pButton label="Save" icon="fa fa-save" (click)="onSaveClick($event)"
                class="mr-2 ui-btn-primary"></button>
        </div>
    </p-toolbar>

    <div class="p-5">
        <div class="field grid">
            <label for="username" class="col-2">Username*</label>
            <div class="col-4">
                <input pInputText type="text" id="username" [(ngModel)]="user.username" required="required" name="username" />
            </div>
        </div>
        <div class="field grid">
            <label for="password" class="col-2">Password*</label>
            <div class="col-4">
                <input pInputText type="password" id="password" [(ngModel)]="user.password" name="password"/>
            </div>
        </div>
        <div class="field grid">
            <label class="col-2">Roles</label>
            <div class="col-4">
                <p-multiSelect class="multi-select" name="Roles" [options]="roleOptions" [(ngModel)]="user.roles" optionLabel="name" dataKey="id"></p-multiSelect>
            </div>
        </div>
    </div>
</div>