<div class="p-5 home-section">
    <section>
        <div class="flex justify-content-center">
            <p-card header="Home" subheader="About">
                <p class="m-0">
                    Welcome to <b>{{title}}</b>, This system has been developed by <b>Ankit & Sohail</b>.
                    It is a basic implementaion of all the CURD operations.
                    It uses tech stacks like <b> Spring Boot, Java, MySQL</b> and frameworks like <b>Angular, Bootstrap, PrimeNG</b>.
                    Please try it for yourself.
                 </p>
            </p-card>
        </div>
    </section>
</div>