<div>
    <p-toolbar>
        <div class="p-toolbar-group-start">
            <label>Search Users</label>
        </div>

        <div class="p-toolbar-group-end">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="onAddClick($event)"></button>
        </div>
    </p-toolbar>

    <div class="ui-formgroup grid-nogutter p-5 col-8">
        <p-table #dt [value]="users" [rows]="10" [paginator]="true"
            [globalFilterFields]="['username']"
            selectionMode="single"
            [rowHover]="true" dataKey="id"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true"
            (onRowSelect)="onRowSelect($event.data)" 
            >
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    <h5 class="m-0">Manage Users</h5>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="getFilterValue($event)" placeholder="Search..." />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="username" style="width:30%;">Username <p-sortIcon field="username"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr [pSelectableRow]="rowData">
                    <td ><a href="javascript:void(0)" (click)="onUserNameClick($event, rowData)">{{ rowData.username }}</a></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="flex align-items-center justify-content-between">In total there are {{ users ?
                    users.length : 0 }} roles.</div>
            </ng-template>
        </p-table>
    </div>
</div>
