<div class="ml-3">
    <h2>Search Users</h2>
    <div>
        <label for="Details">Details:</label>
        <input name="Details" type="text">
    </div>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Username</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td><a href="javascript:void(0)" (click)="onUserNameClick($event, user)">{{ user.username }}</a></td>
            </tr>
        </tbody>
    </table>
</div>
