.table {
    width: 500px;
    margin: 30px;
    border: 2px solid lightgray;
}

.header {
    background-color: aliceblue;
}

#Details {
    width: 240px;
}

.btn {
    border: 2px solid white;
    border-radius: 4px;
    width: 100px;
    cursor: pointer !important;
    font-size: 14px;
}

.btn-add {
    background-color: royalblue;
    border: none;
}

.btn-search:hover {
    background-color: rgba(0, 128, 0, 0.95);
}

.btn-add:hover {
    background-color: rgba(65, 105, 225, 0.895);
}

