.logo{
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    align-items: center;
}

.menu-btn{
    width: calc(100% - 200px);
}

::ng-deep p-button button{
    border: 2px solid whitesmoke;
    position: fixed;
    max-width: 30px!important;
    height: 30px!important;
    margin: 0px 0px 0px -14px;
    top: 1%;
    z-index: 2;
    transform: inherit;
    border-radius: 50%;
}

.left-icon {
    transition: 200ms ease-in;
    transform: rotate(180deg) !important;
}

.right-icon {
    transition: 200ms ease-in;
    transform: rotate(0deg) !important;
}
